.inline {
  width: 200px!important;
  margin: 9px 0px 0px 9px;
}

.menu {
  background-color: #ebebef;
  color: #666;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 100%;
}

.title {
	height: 44px;
	line-height: 44px;
	padding-top: 4px;
	border-bottom: 1px solid #ddd;
}

.sub-title {
  font-size: 14px;
  line-height: 14px;
  margin: 10px 0 0 6px;
  padding: 2px 0 0 4px;
  font-weight: bold;
  border-left: 2px solid orange;
}