.inline {
  width: 200px!important;
  margin: 9px 0px 0px 9px;
}

.menu {
  background-color: #ebebef;
  color: #666;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 100%;
}

.sub-title {
  font-size: 14px;
  padding-left: 15px;
  font-weight: bold;
}